@media screen and (min-width: 1440px) {
    /* Styles for ultrawide monitors */
    .chatroom {
        /* Adjust styles for ultrawide monitors */
        width: 1000px;
        height: calc(93.5vh - 20px);
        /* max-height: 400px; */
    }
}

h1{
    display: flex;
    justify-content: center;
}

.chatroom{
    width: 100%;
    height: calc(93.5vh - 20px);
    display: flex;
    flex-direction: column;
    /* max-height: 400px; */
}

.chatbox{
    /* padding: 20px;
    width: calc(99% - 20px);
    height: 90%;
    overflow-y: auto;
    font-size: 20px; */
    padding: 20px;
    width: 100%;
    max-width: 1000px; /* Limit the width for larger screens */
    margin: 0 auto; /* Center the chatbox horizontally */
    flex-grow: 1; /* Allow chatbox to grow and take remaining vertical space */
    overflow-x: auto;
    font-size: 20px;
}

.messages{
    padding: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    word-wrap:break-word;
}

.layout{
    border-radius: 10px;
}

.user-input{
    display: flex;
    justify-content: center;
    height: 5%;
}


.message-box{
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
}

.send-button{
    margin-left: 10px;
    font-size: 22px;
    width: 15%;
    border-radius: 10px;
}

/* Additional Mobile Styles */
@media screen and (max-width: 767px) {
    .chatbox {
      padding: 10px; /* Adjust padding for smaller screens */
    }

    .messages {
      padding: 5px; /* Adjust padding for smaller screens */
      font-size: 16px; /* Adjust font size for smaller screens */
    }

    .message-box,
    .send-button {
      font-size: 18px; /* Adjust font size for smaller screens */
    }
  }