/* For Webkit (Safari, Chrome) */

/* 
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb:vertical {
    background: #555; 
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000;
} */


@media screen and (min-width: 1440px) {
    /* Styles for ultrawide monitors */
    .chatroom {
        /* Adjust styles for ultrawide monitors */
        width: 1000px;
        height: calc(93.5vh - 20px);
    }
}

h1{
    display: flex;
    justify-content: center;
}

.chatroom{
    width: 100%;
    height: calc(93.5vh - 20px);
}

.chatbox{
    padding: 20px;
    width: calc(99% - 20px);
    height: 88%;
    overflow-y: auto;
    font-size: 20px;
}

.messages{
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    word-wrap: break-word;
}

.layout{
    border-radius: 10px;
}

.user-input{
    display: flex;
    justify-content: center;
    height: 5%;
}

.message-input-box{
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.send-button{
    margin-left: 10px;
    font-size: 22px;
    width: 15%;
    border-radius: 10px;
}

/* Additional Mobile Styles */
@media screen and (max-width: 767px) {
    .chatbox {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .messages {
      padding: 5px; /* Adjust padding for smaller screens */
      font-size: 16px; /* Adjust font size for smaller screens */
    }
  
    .message-box,
    .send-button {
      font-size: 18px; /* Adjust font size for smaller screens */
    }
  }